.chat-bot-container{
    width: 22%;
    .message-and-contacts {
        width: 100%;
    
        .avatar-and-contacts {
            display: flex;
            justify-content: space-around;
            // width: 20%;
            border: 1px solid #e5e6e8;
            padding: 10px 0px 10px 0px;
            align-items: center;
            border-start-start-radius: 10px;
    
            .contact-search-box {
                width: 70%;
                height: 35px;
                border-radius: 18px;
    
            }
    
        }
    
        .message-container {
            padding: 10px;
            border: 1px solid #e5e6e8;
            border-end-start-radius: 10px;
    
            .chat-list-header {
                color: #666cff;
                font-size: 15px;
                font-weight: 500;
            }
    
            .message-box-selected {
                display: flex;
                margin-top: 17px;
                align-items: center;
                background-color: #666cff;
                padding-left: 10px;
                // width: 100%;
                height: 56px;
                border-radius: 11px;
    
                .sender-name {
                    font-size: 15px;
    
                    .message-min {
                        font-size: 15px;
                        margin-left: 8px;
    
                    }
                }
    
                .name-message-content {
                    margin-left: 10px;
                    color: white;
                }
            }
    
            .message-box {
                display: flex;
                margin-top: 17px;
                align-items: center;
                // background-color: #666cff;
                padding-left: 10px;
                width: 100%;
                height: 56px;
                border-radius: 11px;
    
                .sender-name {
                    font-size: 15px;
    
                    .message-min {
                        font-size: 15px;
                        margin-left: 8px;
                        color: #a8aab4;
    
                    }
                }
    
                .name-message-content {
                    margin-left: 10px;
                    color: black;
                }
            }
    
            .contact-box {
                display: flex;
                margin-top: 17px;
                align-items: center;
                padding-left: 10px;
                width: 100%;
                height: 56px;
                border-radius: 11px;
    
                .name-role-content {
                    font-size: 15px;
                    margin-left: 10px;
                }
    
                .contact-role {
                    font-size: 15px;
                    color: #a8aab4;
                }
            }
    
    
        }
    
    }
}